<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/blog/">blog</a>

<body>
    <h1>Sobre la página:</h1>
    <h2>Desarrollada en astro</h2>

    <p>
        La temática de la misma es toda clase de "crímenes" cometidos por informáticos
        (especialmente desarrolladores)
    </p>
    <p>en algunos casos se abordaran pautas para que no vuelvan a producirse</p>
</body>
