<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/blog/">blog</a>

<body>
    <h2>Este va a ser mi blog</h2>
    <p></p>
    <p>This is where I will post about my journey learning Astro.</p>
    <ul>
        <li><a href="/posts/post-001/">Post 1</a></li>
    </ul>
</body>
