---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Precrímenes informáticos";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>Investigaciones... y más cosas.</h2>
</BaseLayout>
